[submodule "bpa"]
	path = bpa
	url = https://github.com/mikhalexandr/itmo-cse-bpa.git
[submodule "informatics"]
	path = informatics
	url = https://github.com/mikhalexandr/itmo-cse-informatics.git
[submodule "programming"]
	path = programming
	url = https://github.com/mikhalexandr/itmo-cse-programming.git
[submodule "databases"]
	path = databases
	url = https://github.com/mikhalexandr/itmo-cse-databases.git
